@import './variables';

@mixin box {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

@mixin titleLeftSide {
  padding-bottom: 1rem;
  color: $color-title;
  font-weight: 100;
  font-size: 3rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

@mixin qrCode {
  filter: invert(1);
  border: 0.5px solid $color-borderInvert;
  box-shadow: 0 4px 10px $color-shadow;
  transform: translateY(-5rem);
}
