$color-black: rgb(44, 40, 40);
$color-primary-text: #fff;
$color-secondary: rgb(6, 110, 128);
$color-title: #cc7832;
$color-naming: #9876aa;
$color-mainText: #a9b7c6;
$color-sideText: rgba(230, 230, 230, 0.835);
